* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  a{
  text-decoration: none;
  }
  
  body {
  background: yellow;
  font-family: 'Roboto', sans-serif;
  
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: black solid 4px;
  
  }
  
  .username{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: black;
  opacity: 0.8;
  font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  h1{
    font-size: 32px;
    color: black;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  
  ul li a:hover{
    background: #141414;
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    opacity: 0.6;
    transition:opacity 400ms;
  }
  footer:hover{
    opacity: 1;
  }